assets/13_SCADA서버/conf/nodered/flows.json
[
    {
        "id": "flow_plc_polling",
        "type": "tab",
        "label": "PLC Sensor Polling",
        "disabled": false,
        "info": "PLC 시뮬레이터에서 센서 데이터를 5초 간격으로 폴링하여 SCADA-LTS로 전달"
    },
    {
        "id": "inject_5sec",
        "type": "inject",
        "z": "flow_plc_polling",
        "name": "5초 폴링",
        "props": [],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "",
        "x": 130,
        "y": 100,
        "wires": [["http_get_status"]]
    },
    {
        "id": "http_get_status",
        "type": "http request",
        "z": "flow_plc_polling",
        "name": "GET PLC Status",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.201.11:5000/api/status",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 330,
        "y": 100,
        "wires": [["parse_sensor_data", "dashboard_split"]]
    },
    {
        "id": "parse_sensor_data",
        "type": "function",
        "z": "flow_plc_polling",
        "name": "센서 데이터 변환",
        "func": "// PLC 시뮬레이터 응답을 SCADA-LTS HTTP Receiver 형식으로 변환\nvar sensors = msg.payload.sensors;\nvar timestamp = msg.payload.timestamp;\n\nvar scadaPayload = {};\n\nif (sensors) {\n    // SCADA-LTS HTTP Receiver가 기대하는 형식으로 변환\n    scadaPayload = {\n        \"temperature\": sensors.temperature ? sensors.temperature.value : null,\n        \"pressure\": sensors.pressure ? sensors.pressure.value : null,\n        \"flow_rate\": sensors.flow_rate ? sensors.flow_rate.value : null,\n        \"power\": sensors.power ? sensors.power.value : null,\n        \"timestamp\": timestamp\n    };\n    \n    // 글로벌 컨텍스트에 최신값 저장 (대시보드/알림용)\n    global.set('latestSensors', scadaPayload);\n    global.set('lastUpdate', new Date().toISOString());\n}\n\nmsg.payload = scadaPayload;\nmsg.headers = {\n    \"Content-Type\": \"application/json\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 80,
        "wires": [["http_post_scada", "check_thresholds"]]
    },
    {
        "id": "http_post_scada",
        "type": "http request",
        "z": "flow_plc_polling",
        "name": "POST to SCADA-LTS",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.201.10:8080/api/httpds",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": true,
        "headers": [],
        "credentials": {
            "user": "admin",
            "password": "admin"
        },
        "x": 810,
        "y": 80,
        "wires": [["debug_scada_response"]]
    },
    {
        "id": "debug_scada_response",
        "type": "debug",
        "z": "flow_plc_polling",
        "name": "SCADA 응답 로그",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1030,
        "y": 80,
        "wires": []
    },
    {
        "id": "dashboard_split",
        "type": "function",
        "z": "flow_plc_polling",
        "name": "대시보드 분기",
        "func": "var sensors = msg.payload.sensors;\nif (!sensors) return null;\n\nvar msgs = [\n    { payload: sensors.temperature ? sensors.temperature.value : 0, topic: 'temperature' },\n    { payload: sensors.pressure ? sensors.pressure.value : 0, topic: 'pressure' },\n    { payload: sensors.flow_rate ? sensors.flow_rate.value : 0, topic: 'flow_rate' },\n    { payload: sensors.power ? sensors.power.value : 0, topic: 'power' }\n];\n\nreturn [msgs];",
        "outputs": 4,
        "timeout": "",
        "noerr": 0,
        "x": 550,
        "y": 200,
        "wires": [
            ["gauge_temp", "chart_temp"],
            ["gauge_pres", "chart_pres"],
            ["gauge_flow", "chart_flow"],
            ["gauge_power", "chart_power"]
        ]
    },
    {
        "id": "gauge_temp",
        "type": "ui_gauge",
        "z": "flow_plc_polling",
        "name": "온도 게이지",
        "group": "grp_sensors",
        "order": 1,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "온도",
        "label": "C",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": 50,
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": 30,
        "seg2": 35,
        "className": "",
        "x": 780,
        "y": 160,
        "wires": []
    },
    {
        "id": "chart_temp",
        "type": "ui_chart",
        "z": "flow_plc_polling",
        "name": "온도 차트",
        "group": "grp_trends",
        "order": 1,
        "width": 6,
        "height": 4,
        "label": "온도 트렌드",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "데이터 수신 대기중...",
        "dot": false,
        "ymin": "10",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#ff4444"],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 780,
        "y": 200,
        "wires": [[]]
    },
    {
        "id": "gauge_pres",
        "type": "ui_gauge",
        "z": "flow_plc_polling",
        "name": "압력 게이지",
        "group": "grp_sensors",
        "order": 2,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "압력",
        "label": "bar",
        "format": "{{value | number:1}}",
        "min": 80,
        "max": 120,
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": 105,
        "seg2": 110,
        "x": 780,
        "y": 240,
        "wires": []
    },
    {
        "id": "chart_pres",
        "type": "ui_chart",
        "z": "flow_plc_polling",
        "name": "압력 차트",
        "group": "grp_trends",
        "order": 2,
        "width": 6,
        "height": 4,
        "label": "압력 트렌드",
        "chartType": "line",
        "ymin": "85",
        "ymax": "115",
        "x": 780,
        "y": 280,
        "wires": [[]]
    },
    {
        "id": "gauge_flow",
        "type": "ui_gauge",
        "z": "flow_plc_polling",
        "name": "유량 게이지",
        "group": "grp_sensors",
        "order": 3,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "유량",
        "label": "L/min",
        "format": "{{value | number:1}}",
        "min": 50,
        "max": 250,
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": 180,
        "seg2": 200,
        "x": 780,
        "y": 320,
        "wires": []
    },
    {
        "id": "chart_flow",
        "type": "ui_chart",
        "z": "flow_plc_polling",
        "name": "유량 차트",
        "group": "grp_trends",
        "order": 3,
        "width": 6,
        "height": 4,
        "label": "유량 트렌드",
        "chartType": "line",
        "ymin": "80",
        "ymax": "220",
        "x": 780,
        "y": 360,
        "wires": [[]]
    },
    {
        "id": "gauge_power",
        "type": "ui_gauge",
        "z": "flow_plc_polling",
        "name": "전압 게이지",
        "group": "grp_sensors",
        "order": 4,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "전압",
        "label": "V",
        "format": "{{value | number:1}}",
        "min": 200,
        "max": 260,
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": 240,
        "seg2": 250,
        "x": 780,
        "y": 400,
        "wires": []
    },
    {
        "id": "chart_power",
        "type": "ui_chart",
        "z": "flow_plc_polling",
        "name": "전압 차트",
        "group": "grp_trends",
        "order": 4,
        "width": 6,
        "height": 4,
        "label": "전압 트렌드",
        "chartType": "line",
        "ymin": "200",
        "ymax": "260",
        "x": 780,
        "y": 440,
        "wires": [[]]
    },
    {
        "id": "check_thresholds",
        "type": "function",
        "z": "flow_plc_polling",
        "name": "임계값 검사",
        "func": "// 알람 임계값 검사\nvar data = msg.payload;\nvar alerts = [];\n\nvar thresholds = {\n    temperature: { low: 15, high: 35, unit: 'C', name: '온도' },\n    pressure:    { low: 90, high: 110, unit: 'bar', name: '압력' },\n    flow_rate:   { low: 100, high: 200, unit: 'L/min', name: '유량' },\n    power:       { low: 210, high: 250, unit: 'V', name: '전압' }\n};\n\nfor (var key in thresholds) {\n    var t = thresholds[key];\n    var val = data[key];\n    if (val !== null && val !== undefined) {\n        if (val > t.high) {\n            alerts.push({\n                level: 'CRITICAL',\n                sensor: t.name,\n                message: t.name + ' 상한 초과: ' + val.toFixed(1) + t.unit + ' (한계: ' + t.high + t.unit + ')',\n                timestamp: new Date().toISOString()\n            });\n        }\n        if (val < t.low) {\n            alerts.push({\n                level: 'CRITICAL',\n                sensor: t.name,\n                message: t.name + ' 하한 미달: ' + val.toFixed(1) + t.unit + ' (한계: ' + t.low + t.unit + ')',\n                timestamp: new Date().toISOString()\n            });\n        }\n    }\n}\n\nif (alerts.length > 0) {\n    msg.payload = alerts;\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "x": 790,
        "y": 480,
        "wires": [["alert_notification"]]
    },
    {
        "id": "alert_notification",
        "type": "ui_toast",
        "z": "flow_plc_polling",
        "name": "알람 알림",
        "position": "top right",
        "displayTime": "10",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "확인",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "x": 1010,
        "y": 480,
        "wires": []
    },
    {
        "id": "grp_sensors",
        "type": "ui_group",
        "name": "실시간 센서",
        "tab": "tab_main",
        "order": 1,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "grp_trends",
        "type": "ui_group",
        "name": "트렌드 차트",
        "tab": "tab_main",
        "order": 2,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "tab_main",
        "type": "ui_tab",
        "name": "OT 공정 모니터링",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
